@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}
/* Начало оформление общих стилей */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
/* Конец оформления общих стилей */

/* Начало оформление шапки сайта*/
.main-header {
  min-height: 299px;
  background-color: #f7e296;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-logo {
  position: absolute;
  top: 21px;
}

.navigation {
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.main-search {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  position: relative;
  width: 441px;
  height: 49px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 36px;
}

.main-navigation {
  margin-bottom: 38px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.catalog-item {
  position: relative;
  min-width: 540px;
  margin-left: 0;
}

.catalog-drop::after {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 9px;


  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.second-catalog {
  display: none;
  position: absolute;
  z-index: 3;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  font-weight: 300;

  width: 1160px;
  height: 140px;

  top: 20px;
  left: -60px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  background: #f7e296;
}

.catalog-item:hover .second-catalog {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 60px;
}

.second-catalog a {
  letter-spacing: normal;
  text-transform: none;
}

/* Начало оформление слайдера*/
.slider {
  position: relative;
  width: 1160px;
  max-height: 497px;
  margin-bottom: 107px;
  padding: 0;
}

.text-block {
  width: 560px;
  padding: 0;
}

.slider-1 {
  display: flex;
  flex-direction: row;
}

.slider-1 img {
  margin-left: 89px;
  margin-top: -109px;
  margin-right: auto;
  z-index: 2;
}

.slider-title {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
}

/* Начало оформление категорий*/

/* Конец оформление категорий */

/* Начало оформление о компании */

/* Конец оформление о компании */

/* Начало оформление партнеры */

/* Конец оформление партнеры */
