body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}
/* Оформление стилей (ссылки и прочее) */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Оформление навигации (HEADER) */
.header-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
}

.main-header {
 margin-top: 40px;
 padding-left: 60px;
 padding-right: 60px;
 height: 299px;
 background-color: #f7e296;
}

.header-logo {
  position: absolute;
  margin-top: -19px;
  margin-bottom: 24px;
}

.main-search {
  display: flex;
  min-width: 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.main-search .search-input {
  border: 0;
  width: 355px;
  height: 49px;
  background-color: transparent;
  padding-left: 40px;
  opacity: 0.3;
  color: #000000;
}

.main-search .search-input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: 1px transparent;
}
