@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}
/* Оформление стилей (ссылки, отступы и прочее) */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.user-navigation a:hover,
.main-navigation a:hover,
.user-navigation a:focus,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

/*
 Оформление шапки сайта
========================
*/

/* Оформление поиска по сайту */
.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  height: 299px;
  background-color: #f7e296;
}

.header-logo {
  margin-top: -19px;
  margin-bottom: 24px;
  width: 164px;
  height: 36px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 25px;
}

.main-search {
  display: flex;
  white-space: nowrap;
  position: relative;
  width: 441px;
  height: 49px;
  top: -15px;
}

.main-search input {
  height: 49px;
  width: 356px;
  margin: 0;
  padding-top: 2px;
  padding-left: 39px;
  padding-bottom: 11px;


  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  font-weight: 300;
  opacity: 0.3;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.main-search .search-input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;

  outline: 1px transparent;
}

.main-search::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {

  position: absolute;
  top: 15px;
  left: 354px;

  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 10;
}

.main-search .search-input:focus + .search-button {
  display: block;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.3;
}




/* Оформление навигации пользователя */
.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 36px;
}

.user-navigation a {
  display: block;
}

.login {
  margin-right: 16px;
}

.user {
  position: relative;
  padding-left: 25px;
}

.user::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.product-comparison {
  margin-left: auto;
}

.comparison {
  position: relative;
  padding-left: 27px;
}

.comparison::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.product-cart {
  margin-left: 37px;
}

.cart {
  position: relative;
  padding-left: 25px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 4px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Оформление навигации сайта */
.main-navigation li {
  list-style: none;
}

.main-navigation {
  margin-bottom: 38px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.catalog-item {
  position: relative;
  width: 540px;
  margin-left: 0;
}

.catalog-drop::after {
  content: "";

  position: absolute;
  top: 1px;
  left: 221px;
  z-index: 1;

  width: 16px;
  height: 16px;
  margin-left: 9px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-item:hover .second-catalog {
  display: flex;
}

.second-catalog a {
  display: block;
  letter-spacing: normal;
  text-transform: none;
}

.second-catalog li {
  margin-left: 60px;
}

.second-catalog {
  display: none;
  position: absolute;
  z-index: 3;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  width: 1160px;
  height: 140px;

  top: 20px;
  left: -60px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  background: #f7e296;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  font-weight: 300;
}

.second-catalog li:nth-child(5) > a {
  margin-bottom: 33px;

}

.delivery {
  margin-left: -5px;
}

.guarantee {
  margin-left: 30px;
}

.contacts {
  margin-left: 100px
}

/* Карусель товаров */
.main {
  position: relative;
}

.slider {
  position: relative;
  width: 1160px;
  max-height: 497px;
  margin: 0 auto;
  margin-top: -112px;
  margin-bottom: 107px;
  padding: 0;
}

.slide-1 {
  display: flex;
}

.slide-1 img {
  margin-left: 89px;
  margin-right: auto;
}

.slider-title {
  position: relative;
  margin-bottom: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 82px;
}

.slider-title::after {
  content: "";
  position: absolute;
  top: -42px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.text-block {
  width: 560px;
  padding: 0;
}

.text-block span {
  position: absolute;
  top: -12px;
  right: 50px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
}

.discription {
  margin-top: 23px;
  margin-bottom: 45px;
  width: 490px;
}

.more-button {
  display: inline-block;
  position: relative;

  width: 210px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  padding: 9px 5px;
  margin-bottom: 52px;
}

.more-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
  transition: height .3s ease-in-out;
  z-index: -1;
}

.more-button:hover::after,
.more-button:focus::after {
  height: 100%;
}

.more-button:active {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
}


.slider-button {
  display: flex;
  position: absolute;
  top: 328px;
  right: 60px;
  margin: 0;
}

/* Каталог товаров */
.catalog-item-block li {
  list-style: none;

}

.catalog-item-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 69px;
}

.catalog-item-list-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 0;
  line-height: normal;
  flex-wrap: wrap;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  height: 338px;
}

.item-category-block {
  order: 2;
  width: 160px;
  height: 160px;
  margin-left: 40px;
  display: inline-block;
  background-color: rgba(240, 197, 46, 0.3);
}

.item-category-block:first-child,
.item-box-block:first-child  {
  margin-left: 0;
}

.item-box-block {
  order: 2;
  width: 160px;
  height: 160px;
  margin-left: 40px;
  display: inline-block;
}


.catalog-item-list-block h3 {
  font-size: 18px;
  font-family: "Gilroy", Tahoma, sans-serif;
  letter-spacing: .01em;
  line-height: normal;
  font-weight: 800;
  vertical-align: top;
  margin-top: 0px;
}

.popular-1::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;

  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 1;
}

.popular-2::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  margin-bottom: 0;

  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;

  z-index: 1;
}

.popular-3::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;

  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 1;
}

.popular-4::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;

  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 1;
}

.popular-5::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;

  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 1;
}

.popular-6::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;

  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 1;
}



/* Оформлени блока СЕРВИС */
.info h3 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.info li {
  list-style: none;
}

.content-info {
  font-family: "OpenSans", Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;
}


.info-navigation {
  position: relative;
  width: 280px;

  margin-top: -19px;


  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}


/* Оформление блока ПАРТНЕРЫ */
.partners li {
  list-style: none;
}

.partners-item {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* Оформление блока О НАС */
.company h2 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 800;

}

.company p {
  font-family: "OpenSans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #464646;
}


/* Оформление Подвала */
.main-footer {
  background-color: #464646;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-logo {
  margin-top: -9px;
  margin-left: -3px;
}

.footer-user-navigation {
  width: 328px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  font-size: 15px;
  line-height: 36px;
  text-align: right;
}

.footer-site-navigation {
   font-family: "Gilroy", Tahoma, sans-serif;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.33;
   letter-spacing: 3.6px;
   text-align: left;
   list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.adress {
  color: #ffffff;
}

.social {

}

.academy {

}
